@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 255, 242, 0.575);
    border-radius: 1rem;
}

.main::before{
    content: '';
    background-image: url('');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

.main::after{
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    margin-bottom: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(180deg);
}

body{
    background-color: rgb(63, 62, 62);
    color: azure;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: rgba(0, 255, 242, 0.712);
    text-decoration: underline;
}




@media only screen and (min-width:768px) {
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::after,
    .main::before{
        width: 70vw;
    }
}